_site
.sass-cache
Gemfile.lock
*.gem
.DS_Store
.jekyll-cache
git-update.sh
assets/videos/icra2024.mp4
assets/videos/IROS2025.MOV
assets/videos/icra2025.mp4
assets/videos/icra2026.mp4
assets/videos/SR2026.mp4
assets/videos/Cable_Assembly_Automatica_2025.mp4
